/* Das hier ist ein Kommentar */

/* Speziell für den Button #buttonAdministrator
#buttonAdministrator{
	-fx-font-size: 3.0em;
	-fx-font-family: "Courier New";
}*/

/* Für ALLE Buttons, die nicht speziell gestaltet worden sind, verwendet man .button */
.button{
	/* Shiny-Orange   
	-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;*/
    
/*	iPhone-
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white; */
    
    /* OSX LION     */
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;

    
    /* Auch gut 
    -fx-font-size: 13.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#00a7d4;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
/*	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT; */
	
}

/* Button gedrückt halten:
.button:focused {
	-fx-color:#00a7d4;
	-fx-background-color:#ED9C28, #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
}
*/

/* Button Mouseoveor */
.button:hover {
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}

#homeButton{
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
#homeButton:hover{
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}


#greetingLabel{
	/*
	-fx-font-size: 2.0em;
	-fx-border-color: gray;
	-fx-border-width: 1px;
	-fx-border-radius: 4px;
	-fx-alignment: center;
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.7), 1, 2, 1, 1); */
	
	/*
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: px;
    -fx-text-fill: white;
    */
    
     /* Shiny-Orange  
	-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20; */

    -fx-background-color: 
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%, #cee6fb 10%),
        linear-gradient(#a5d3fb 50%, #88c6fb 51%),
        linear-gradient(#d5faff 100%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(0,0,0,0.08), rgba(0,0,0,0.08));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
  /*-fx-text-fill: #654b00; --> Schriftfabe ändern*/
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
}

.text-field {
   /* -fx-min-width: 50; 
    -fx-min-height: 20; */
    -fx-pref-height: 15;
}



/* Globale Eigenschaften, die für ALLE Kompontenten gelten */
.root{
	-fx-base: rgb(5, 200, 255);
	-fx-background: rgb(195, 215, 215);	
}